.Collection {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }
  
  .Card {
    width: 500px;
  }
  
  .top-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  
  .brand-small {
    display: flex;
    padding: 10px;
    font-size: 37.9px;
    font-family: Arial black, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .Footer {
    display: flex;
    justify-content: space-between;
  }
  
  
  .collection-details {
    padding-top: 100px;
  }
  
  .Flex {
    display: flex;
    gap: 100px;
    margin-top: 40px;
    margin-bottom: 100px;
  }
  
  .collection-image {
    width: 700px;
  }
  
  .flex-child.image {
    flex-grow: 1;
  }
  
  .flex-child.details {
    flex-grow: 1;
  }
  
  
  .add-to-cart {
    background-color: black;
    color: white;
    padding: 20px 40px 20px 40px;
    border: none;
    cursor: pointer;
    font-size: 21px;
  }
  
  
  .hide-cart {
    display: flex;
  }
  